<nav>
  <a class="btn btn-primary" *ngIf="show" (click)="hideLink()" routerLink="/logIn">LogIn</a>
  <a class="btn btn-primary" *ngIf="!show && !apiservice.signupLink" (click)="hideLink()"
    routerLink="/signUp">SignUp</a>
  <div class="link-div" *ngIf="apiservice.postLink">
    <a class="btn btn-primary" routerLink="/posts">Home</a>
    <a class="btn btn-primary" routerLink="/profile">Profile</a>
    <a class="btn btn-primary" routerLink="/myPost">My Post</a>
    <a class="btn btn-primary" (click)="Logout()" routerLink="/logIn">Logout</a>
  </div>
</nav>
<router-outlet></router-outlet>